*{
  padding:0;
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
}
#container{
margin-left: 10%;
margin-right: 10%;
}
.WelcomeImage{
  float:left;
  /* margin-left: 10%; */
  background-image: url("/images/h_img.jpg");
  color: white;
  width:280vh;
  height:100vh;
 text-align: center;

}
.WelcomeImage.DelaniDLogo{
  text-align:center; 
}
.aboutUs{

}
.servicesImage{
  float:left;
  /* margin-left:5%; */
  background-image: url("/images/s_image.jpg");
  color:white;
  width:400vh;
  height:60vh;
  text-align:center;
  font-weight:500;    
}

.hide1,.hide2,.hide3{
  display: none;
}

.col-md-4{
  float:left;
  width:10%;
  }

.port{
  
}
.col-md-3{
  /* float:left; */
  width:10%;
}
.footer{
  margin-top: 20px;
  margin-left: 20%;
}
.icons{
  /* padding: ; */
}
.contactUs{
  margin-top: 30px;
  background-image: url("/images/c_image.jpg");
  color:white;
  width:380vh;
  height:100vh;
  opacity: 50%;
}
.delani{
  margin-top: 30px;
  text-align : center;
}